pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill
Flask
#-e . #commented out for now since we don't want to build it from scratch everytime when we use pip install, we will uncomment it at the end, when we finalize with pre-req packags\es 